{% extends 'base2.html' %}
{% load markdown_extras %}
{% block title %} {{ post.title }} - 表單輸入 {% endblock %}
{% block headmessage %}
<a style='font-family:微軟正黑體;' href='/'>回首頁</a>
{% endblock headmessage %}

{% block content %} 


<form action="" method='post'>
    {% csrf_token %}
    <label for="title">標題:</label><br>
    <input type="text" id="title" name="title"><br>
    
    <label for="title">類別:</label><br>
    <input type='checkbox' id='tech' name='category' value="科技"></input>
    <label for 'tech'>科技</label>
    <input type='checkbox' id='mood' name='category' value="心情"></input>
    <label for 'mood'>心情</label>
    <input type='checkbox' id='byeeee' name='category' value="當掉"></input>
    <label for 'byeeee'>當掉</label>
    <input type='checkbox' id='edu' name='category' value="教育"></input>
    <label for 'edu'>教育</label>

    <label for="lname">slug:</label><br>
    <input type="text" id="slug" name="slug"><br><br>
    <label for='content'>內文</lable><br>
    <textarea id='comtemt' name='content' cols='30'>
    </textarea>
    <br>
    <input type='submit' value='送出'>
  </form>
{% endblock content %}
